$font-family: 'Roboto', 'Helvetica Neue', 'sans-serif';

$toolbar-height: 56px;
$horizontal-menu-height: $toolbar-height;

$sidenav-user-block-height: 156px;
$mini-sidenav-user-block-height: 70px;

$flex-distance: 8px;
$inner-sidenav-content-padding: $flex-distance;

$footer-height: 56px;
