@import 'app/theme/styles/base';
@import 'app/theme/styles/theme';
@import 'material-icons/iconfont/material-icons.scss';

.tooltip {
  background-color: dimgrey;
  color: white;
  font-size: 16px;
}

.filler {
  flex: 1 1 auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  // margin-right: 0;
}

.page-container {
  padding: 20px;
}

.full-width {
  width: 100%;
}
